<div class="container mt-5">
  <div class="row">
    <h2>募集一覧ページ</h2>
    <table class="table" >
      <thead>
        <tr>
          <th>顧問氏名</th>
          <th>学校名</th>
          <th>種目</th>
          <th>募集日時</th>
          <th>募集中の都道府県</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @recruit.each do |recruit| %>
            <tr>
              <td><%= recruit.name %></td>
              <td><%= recruit.school_name %></td>
              <td><%= recruit.genre.genre %></td>
              <td><%= recruit.recruit_text %></td>
              <td><%= recruit.city.city %></td>
              <td><%= link_to "詳細へ", recruit_path(recruit.id) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
