<h2>会員情報</h2>
<p>名前<%= @customer.name %></p>


<h2>募集一覧ページ</h2>
<% @recruit.each do |recruit| %>
<p>学校名<%= recruit.school_name %></p>
<p>顧問氏名<%= recruit.name %></p>
<p>募集日時<%= recruit.recruit_text %></p>
<p>種目<%= recruit.genre.genre %></p>
<% end %>

