<div class="container mt-5">
  <div class="row">
    <h2 class="mr-5">募集一覧ページ</h2>
    <% if customer_signed_in? %>
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.select :genre, options_for_select([['野球'], ['サッカー'],['卓球'],['テニス'],['ソフトテニス'],['柔道'],['剣道'],['ソフトボール'],['バレーボール'],['バスケットボール']]) %>
        <%= f.select :city, options_for_select([['北海道'], ['青森県'],['岩手県'],['宮城県'],['秋田県'],['山形県'],['福島県'],['茨城県'],['栃木県'],['群馬県'],['埼玉県'],['千葉県'],['東京都'],['神奈川県'],['新潟県'],['富山県'],['石川県'],['福井県'],['山梨県'],['長野県'],['岐阜県'],['静岡県'],['愛知県'],['三重県'],['滋賀県'],['京都府'],['大阪府'],['兵庫県'],['奈良県'],['和歌山県'],['鳥取県'],['島根県'],['岡山県'],['広島県'],['山口県'],['徳島県'],['香川県'],['愛媛県'],['高知県'],['福岡県'],['佐賀県'],['長崎県'],['熊本県'],['大分県'],['宮崎県'],['鹿児島県'],['沖縄県']]), class: "ml-3"  %>
        <%= f.submit "絞り込み", class: "btn btn-outline-primary ml-5" %>
      <% end %>
    <% end %>
    <table class="table" >
      <thead>
        <tr>
          <th>顧問氏名</th>
          <th>学校名</th>
          <th>種目</th>
          <th>募集日時</th>
          <th>募集中の都道府県</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @recruit.each do |recruit| %>
            <tr>
              <td><%= recruit.name %></td>
              <td><%= recruit.school_name %></td>
              <td><%= recruit.genre.genre %></td>
              <td><%= recruit.recruit_text %></td>
              <td><%= recruit.city.city %></td>
              <td><button type="button" class="btn btn-primary"><%= link_to "詳細へ", recruit_path(recruit.id) ,:style=>"color:white"%></button></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
