<div class="container">
  <div class="row mt-5">
    <h2>マイページ</h2>
    <table class="table">
      <tr>
        <th>登録情報</th>
        <td><%= link_to "編集する", edit_customer_path(current_customer) %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @name%></td>
      </tr>
      <tr>
        <th>学校名</th>
        <td><%= @school_name %></td>
      </tr>
      <tr>
        <th>その他</th>
        <td><%= @customer.comment %></td>
      </tr>
    </table>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "ブックマーク一覧へ", customer_favorites_path(@customer),:style=>"color:primary" %>
    </button>
    <button type="button" class="btn btn-outline-primary ml-5">
      <%= link_to "DM一覧へ", rooms_path(@room) %>
    </button>
  </div>
  <div class="row mt-5">
    <h3>募集履歴</h3>
    <table class="table">
      <thead>
        <tr>
          <th>顧問氏名</th>
          <th>学校名</th>
          <th>種目</th>
          <th>募集日時</th>
          <th>募集中の都道府県</th>
        </tr>
      </thead>
        <tbody>
          <% @recruits.each do |recruit| %>
          <tr>
            <td><%= recruit.name %></td>
            <td><%= recruit.school_name %></td>
            <td><%= recruit.genre.genre %></td>
            <td><%= recruit.recruit_text %></td>
            <td><%= recruit.city.city %></td>
            <td><button type="button" class="btn btn-primary"><%= link_to "詳細へ", recruit_path(recruit.id) ,:style=>"color:white"%></button></td>
          </tr>
          <% end %>
        </tbody>
        </table>
        
  </div>
</div>