<div class="container col-md-4 mt-5">
  <div class="row">
    <div class="dm ">
      <h2>DMを送る</h2>
      <p>※ここでは詳細な日程や場所を話し合って決めてください</p>
      <div class="message-form">
        <%= form_with model: @message do |f| %>
          <%= f.text_area :message %>
          <!-- メッセージ作成時に必要な :room_idをおいておく -->
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
      <table class="table">
        <thead>
            <tr>
                <th>名前</th>
                <th>メッセージ</th>
            </tr>
        </thead>
        <tbody>
            <% @messages.each do |message| %>
                <tr>
                    <td><%= message.customer.name %></td>
                    <td><%= message.message %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>