<!DOCTYPE html>
<html>
  <head>
    <title>TeamMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h2 class="title"><%= link_to "Team-Match", root_path , style: "font-family: HiraMinPro-W6; color: #ffffff;"%></h2>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right"　,style: "color: #ffffff;">
            <% if customer_signed_in? %>
            <!--会員ログインしている場合-->
              <li><%= link_to "新規募集", new_recruit_path %></li>
              <li><%= link_to "募集一覧", recruits_path %></li>
              <li><%= link_to "マイページ", customer_path(current_customer.id) %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
            <% elsif admin_signed_in? %>
            <!--管理者ログインしている場合-->
              <li><%= link_to "会員一覧", admin_customers_path %></li>
              <li><%= link_to "コメント一覧", admin_comments_path %></li>
              <li><%= link_to "種目追加", admin_genres_path %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
            <!--どちらにもログインしていない時-->
              <li><%= link_to "募集一覧", recruits_path %></li>
              <li><%= link_to "新規会員登録", new_customer_registration_path %></li>
              <li><%= link_to "ログイン", new_customer_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
